body{
    font-family: "Inter" !important;
    overflow-x: hidden;
}

a:hover{
    color: #387ed1 !important;
    
}

span{
    color: #387ed1 !important;
    font-weight: 500 !important;
}

p{
    color: #666;
}

span:hover{
    cursor: pointer;
}

footer{
    background-color: #fbfbfb;
}

.navbar {
    padding: 0.5rem 1rem;
}
.navbar-brand img {
    width: 7rem;
}
.navbar-nav {
    flex-direction: row;
}
.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
}
@media (max-width: 992px) {
    .navbar-nav {
        flex-direction: column;
        width: 100%;
    }
    .nav-item {
        margin: 0;
        text-align: center;
    }
}

@media (min-width: 1200px){
    .footer{
        font-size: 0.8rem;
        
    }
}

@media (min-width: 991px){
    .footer{
        font-size: 0.8rem;
        
    }
}

@media (min-width: 768px){
    .footer{
        font-size: 0.8rem;
        
    }
}

@media (min-width: 576px){
    .footer{
        font-size: 0.8rem;
        
    }
}

.footer{
    color: #9b9b9b;
}

ul li{
    margin-top: 0.7rem;
    cursor: pointer;
}

ul li:hover{
    color: #387ed1;
}